services:
  app:
    container_name: php-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    container_name: postgres-db
    image: postgres:16
    environment:
      POSTGRES_DB: virtualstore
      POSTGRES_USER: virtualuser
      POSTGRES_PASSWORD: virtualpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
